<form method="post" action="{{ path('exam_classifications_delete', {'id': exam.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette typologie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exam.id) }}">
    <button class="btn btn-danger action-delete"><i class="bi bi-trash"></i></button>
</form>
