{{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.examSession) }}</div>
        <div class="col">{{ form_row(form.delay) }}</div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Exporter "en ligne"</button>
        </div>
    </div>
{{ form_end(form) }}