{% extends 'base.html.twig' %}

{% block title %}Épreuves orales - Sudoku{% endblock title %}

{% block page_title %}Épreuves orales - Sudoku{% endblock page_title %}

{% block main %}

    <div id="sudoku-detail" class="row">Detail coming soon</div>

{% endblock main %}