{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="save_container">
        <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
