<form method="post" action="{{ path('scholar_ship_level_delete', {'id': scholarShipLevel.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce niveau de bourse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scholarShipLevel.id) }}">
    <button class="btn btn-danger action-delete"><i class="bi bi-trash"></i></button>
</form>