<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Base PDF{% endblock %}</title>
    </head>
    <body>
        <div style="margin: 0 auto; width: 1024px;">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>