{% extends 'base.html.twig' %}

{% block title %}Remise à zéro de la base de données{% endblock %}

{% block body %}
    <h1>Remise à zéro de la base de données</h1>

    {{ include('partial/_flash_messages.html.twig') }}

    {{ form(form) }}
{% endblock %}
