{% extends 'base_pdf.html.twig' %}

{% block title %}Sample Pdf{% endblock %}

{% block body %}
    <table style="width: 100%;">
        <tr>
            <td style="text-align:center; width: 33%;">colonne 1</td>
            <td style="text-align:center; width: 33%;">colonne 2</td>
            <td style="text-align:center; width: 33%;">colonne 3</td>
        </tr>
    </table>
{% endblock %}