<form method="post" action="{{ path('diploma_channel_delete', {'id': item.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette filière ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
</form>
