<form method="post" action="{{ path('notification_template_delete', {'id': item.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger action-delete"><i class="bi bi-trash"></i></button>
</form>
