{% extends 'base.html.twig' %}

{% block title %}Nouveau language{% endblock %}

{% block body %}
    <div class="nav_actions">
        <a href="{{ path('language_index') }}" class="btn btn-secondary">Retourner à la liste des languages</a>
    </div>
    <hr />
    <h1>Créer un language</h1>

    {{ include('language/_form.html.twig') }}
{% endblock %}
