<form method="post" action="{{ path('admissibility_bonus_delete', {'id': bonus.id, 'type': bonus.class}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet bonus ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bonus.id) }}">
    <button class="btn btn-danger action-delete"><i class="bi bi-trash"></i></button>
</form>
