{% extends 'base.html.twig' %}

{% block title %}Nouveau diplôme{% endblock %}

{% block body %}
    <div class="nav_actions">
        <a href="{{ path('diploma_index') }}" class="btn btn-secondary">Retour à la liste des diplômes</a>
    </div>
    <hr />
    <h1>Création d'un diplôme</h1>

    {{ include('diploma/diploma/_form.html.twig') }}
{% endblock %}
