<div class="form_container">
    <div class="row">       
        <div class="nav_actions">
            <a href="{{ path('exam_student_mail_send', {'user': student.user.id}) }}" class="btn btn-primary justify-content-end">Envoyer le mail d'activation</a>
        </div>
    </div>
</div>