<div class="modal fade" id="student-exam-confirmed-modal" tabindex="-1" aria-labelledby="student-exam-confirmed-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Confirmez-vous la désinscription de ce candidat à cette session ?</p>
                <button type="button" id="student-exam-modal-button" class="btn btn-success">Confirmer</button>
            </div>
            <div class="modal-footer">
                <div class="mb-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>
