<!DOCTYPE html>
<html>
    <body>
        <div>
             <img style="width:300px;" src="{{ absolute_url(asset('fixtures/blocs/logo-skema-couleur-og.png')) }}" />
        </div>
    </body>
</html>
