<form method="post" action="{{ path('exam_language_delete', {'id': language.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce langage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ language.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
</form>
