<form method="post" action="{{ path('oral_test_student_delete', {'id': item.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger btn-lg"><i class="bi bi-trash"></i></button>
</form>
