{% extends 'base.html.twig' %}

{% block title %}Liste des blocs{% endblock %}

{% block body %}
<h1>Liste des blocs <a class="btn btn-primary" href="{{ path('bloc_new') }}">Ajouter un bloc</a></h1>

<div class="search_form">
    <hr />
    <form action="" method="get" id="list-search">
        <div class="row">
            <div class="col">
                <input type="text" name="label" id="label" class="form-control" placeholder="Label"
                       value="{% if params['label'] is defined %}{{ params['label'] }}{% endif %}" />
            </div>
            <div class="col">
                <input type="text" name="tag" id="tag" class="form-control" placeholder="Tag"
                       value="{% if params['tag'] is defined %}{{ params['tag'] }}{% endif %}" />
            </div>
            <div class="col">
                <input type="text" name="key" id="key" class="form-control" placeholder="Identifiant"
                       value="{% if params['key'] is defined %}{{ params['key'] }}{% endif %}" />
            </div>
        </div>
        <button class="btn btn-success" type="submit">Filtrer</button>
    </form>
    <hr />
</div>
{% include 'table.html.twig' with {'columns' : columns, 'controller' : 'bloc_index'} %}
{% endblock %}
