<form method="post" action="{{ path('admissibility_coefficient_delete', {'id': coefficient.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce coefficient ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coefficient.id) }}">
    <button class="btn btn-danger action-delete"><i class="bi bi-trash"></i></button>
</form>
