<form method="post" action="{{ path('exam_room_delete', {'examSession': item.id, 'examRoom': room.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette salle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn btn-danger action-delete"><i class="bi bi-trash"></i></button>
</form>
